{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3>About</h3>
        <p>Code for this site can be found at: <a href="https://github.com/mattmakesmaps/PntTrax">https://github.com/mattmakesmaps/PntTrax</a></p>
        <p>Some of the technologies that power this site <strong>include:</strong></p>
        <ul class="unstyled">
            <li>Django</li>
            <li>Twitter Bootstrap</li>
            <li>Spatialite</li>
            <li>Leaflet</li>
        </ul>
    </div>
</div>
{% endblock %}