{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h3>About</h3>
        <p>Source code for this site can be found at: <a href="https://github.com/mattmakesmaps/PntTrax">https://github.com/mattmakesmaps/PntTrax</a></p>
        <p>Some of the technologies that power this site <strong>include:</strong></p>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h4>Fiona</h4>
        <p>Used to parse uploaded shapefiles, presenting a user with fields to map against database tables.</p>
    </div>
    <div class="span4">
        <h4>GeoDjango</h4>
        <p>A web framework used as the foundation this application.</p>
    </div>
    <div class="span4">
        <h4>Icons</h4>
        <p>Icons provided by the awesome Project Noun (CC-BY-SA).</p>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h4>Leaflet</h4>
        <p>Provides client-side mapping functionality.</p>
    </div>
    <div class="span4">
        <h4>Spatialite</h4>
        <p>The underlying spatial RDBMS.</p>
    </div>
    <div class="span4">
        <h4>Twitter Bootstrap</h4>
        <p>The base styling for all elements in this page.</p>
    </div>
</div>
<div class="row">
    <div class="span4">
        <h4>Vectorformats</h4>
        <p>Created by Chris Schmidt, this library is used to provide basic conversion between Django QuerySets to output formats such as GeoJSON and KML. Accessible via service URL endpoints.</p>
    </div>
</div>
{% endblock %}