{% extends "base.html" %}

{% block title %}Clients{% endblock %}

{% block content %}
    <h3>Clients</h3>
    <a href="../../admin/GPSTracker/client/">Add Client</a>
    <div class="row">
        <div class="span12">
            {% if client_list %}
                {% for c in client_list %}
                    <h4><a href="../groups/">{{ c.name }}</a></h4>
                    <h5 class="muted">{{ c.city }}, {{ c.state }}</h5>
                    <ul>
                        <!-- https://docs.djangoproject.com/en/dev/topics/templates/#accessing-method-calls -->
                            <li>Associated GPS Groups: {{ c.group_set.all|length }}</li>
                    </ul>
                {% endfor %}
            {% else %}
                <p>No Clients. How about adding one?</p>
            {% endif %}
        </div>
    </div>
{% endblock %}