{% extends "base.html" %}

{% block title %}GPS Groups{% endblock %}

{% block content %}
    <h3>GPS Groups</h3>
    <a href="{% url admin:GPSTracker_group_add %}">Add GPS Group</a>
    <div class="row">
        <div class="span12">
            {% if client_list %}
                {% for c in client_list %}
                    <h4>{{ c.name }}</h4>
                    <h5 class="muted">{{ c.city }}, {{ c.state }}</h5>
                    <ul>
                        <!-- https://docs.djangoproject.com/en/dev/topics/templates/#accessing-method-calls -->
                        {% for group in c.group_set.all %}
                            <li><a href="{%  url GPSTracker.views.group_detail group.id %}">{{ group.name }}</a> - {{ group.comment }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% else %}
                <p>No GPS Groups. How about adding one?</p>
            {% endif %}
        </div>
    </div>
{% endblock %}