{% extends "base.html" %}

{% block title %}{{ group.name }} Detailed Report{% endblock %}

{% block content %}
    <h3>{{ group.name }} Locations</h3>
    <p class="muted">{{ group.comment }}</p>

    {# leaflet map #}
    <div id="map"></div>
    <h4>Points</h4>

    {% if point_list %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Method</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for p in point_list %}
                <tr>
                    <td>{{ p.name }}</td>
                    {# https://docs.djangoproject.com/en/dev/ref/models/instances/#django.db.models.Model.get_FOO_display #}
                    <td>{{ p.get_type_display }}</td>
                    <td>{{ p.get_method_display }}</td>
                    <td>{{ p.collectDate }}</td>
                    <td>{{ p.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-error">No Points</p>
    {% endif %}

    <h4>Lines</h4>
    {% if line_list %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Method</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            {% for l in line_list %}
                <tr>
                    <td>{{ l.name }}</td>
                    <td>{{ l.get_type_display }}</td>
                    <td>{{ l.get_method_display }}</td>
                    <td>{{ l.collectDate }}</td>
                    <td>{{ l.comment }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="text-error">No Line Features</p>
    {% endif %}

    <h4>Polygons</h4>
    {% if poly_list %}
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Method</th>
                <th>Date</th>
                <th>Comment</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                {% for p in poly_list %}
                    <td>{{ p.name }}</td>
                    <td>{{ p.get_type_display }}</td>
                    <td>{{ p.get_method_display }}</td>
                    <td>{{ p.collectDate }}</td>
                    <td>{{ p.comment }}</td>
                {% endfor %}
            </tr>
            </tbody>
        </table>
    {% else %}
        <p class="text-error">No Polygon Features</p>
    {% endif %}
{% endblock %}
{% block extrascript %}
<script type="text/javascript">
    var group_id = {{ group.id }};
</script>
<script src="{{ STATIC_URL }}js/group_mapcode.js">
</script>
{% endblock %}