{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="row">
    <div class="span12">
        <h1>RIDOLFI GPS Tracker</h1>
    </div>
</div>
<div class="row">
    <div class="span4">
        <img src="{{ STATIC_URL }}img/gps225.png">
    </div>
    <div class="span4">
        <img src="{{ STATIC_URL }}img/map225.png">
    </div>
    <div class="span4">
        <img src="{{ STATIC_URL }}img/notebook225.png">
    </div>
</div>
<div class="row">
    <div class="span12">
        <p>This site serves as a repository for finalized GPS datasets, suitable for
            transmittal to the client. GPS datasets have been augmented to include supplementary
            information from sources such as field notes or aerial image markups. Care has been
            taken to identify the source for each feature, GPS collected or otherwise.</p>
    </div>
</div>
{% endblock %}