<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}RIDOLFI Sampling Tracker{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}bootstrap/css/fixed-layout-tutorial.css" />
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.css" />
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.ie.css" />
<![endif]-->

    <script src="http://cdn.leafletjs.com/leaflet-0.4.5/leaflet.js"></script>
    {% block extrahead %}{% endblock %}
</head>
<body>
    <div class="navbar">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <a class="brand" href="http://www.ridolfi.com">RIDOLFI Inc.</a>
                <div class="nav-collapse collapse">
                <ul class="nav">
                    <li class="active">
                    </li>
                    <li><a href="/gpstracker/">Home</a> </li>
                    <li><a href="/gpstracker/about/">About</a></li>
                    <li><a href="/gpstracker/clients/">Clients</a></li>
                    <li><a href="/gpstracker/uploadfile">Upload</a></li>
                </ul>
                <ul class="nav pull-right">
                    <li class="active">
                        {% if user.is_authenticated %}
                            <li><p class="navbar-text">User: {{ user.username }}</p></li>
                            <li><a href="/admin/">Edit/Admin</a></li>
                            <li><a href="/accounts/logout/">Logout</a></li>
                        {% else %}
                            <li><a href="/accounts/login/">Login</a></li>
                        {% endif %}
                    </li>
                </ul>
               </div>
            </div>
        </div>
    </div>
    <div class="container">
        {% block content %}{% endblock %}
    <hr>
    <footer>
        <p>Copyright 2013 <a href="http://www.ridolfi.com">RIDOLFI Inc.</a></p>
    </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-1.7.1.min.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}bootstrap/js/bootstrap.min.js"></script>
    {% block extrascript %}{% endblock %}
</body>
</html>